@model NAppTracking.Server.Entities.ExceptionReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExceptionReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExceptionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExceptionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExceptionMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExceptionMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StackTrace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StackTrace)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-sm" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm", role = "button" })
        </div>
    }
</div>
