@using NAppTracking.Server.Extensions
@model NAppTracking.Server.Entities.ExceptionReport

@{
    ViewBag.Title = "Details";
    var exceptionReport = Model;
}

<div>
    <div class="page-header">
        <h1>
            @Html.DisplayFor(model => model.ExceptionMessage)<br />
            <small>@Html.DisplayFor(model => model.ExceptionType)</small>
        </h1>
    </div>
    <pre class="error-detail">@Html.DisplayFor(model => model.Details)
    </pre>
    <p class="error-time">occurred <b title="@exceptionReport.CreatedUtc.ToLongDateString() at @exceptionReport.CreatedUtc.ToLongTimeString()">@exceptionReport.CreatedUtc.ToRelativeTime()</b> on @exceptionReport.MachineName @Html.ActionLink("Delete", "Delete", new { exceptionReportId = exceptionReport.Id }, new { @class = "btn btn-default btn-xs", role = "button" })</p>

    <div class="row">
        <div class="col-md-6">
            @foreach (var exceptionReportCustomDataSet in exceptionReport.CustomDataSets)
            {
                <div class="custom-data">
                    <h3 class="kv-title">@exceptionReportCustomDataSet.Name</h3>
                    <div class="side-scroll">
                        <table class="kv-table">
                            @foreach (var customData in exceptionReportCustomDataSet.CustomData)
                            {
                                <tr>
                                    <td class="key">@customData.Key</td>
                                    <td class="value">@customData.Value</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h3 class="kv-title">Files</h3>
            <ul class="media-list">         
                @foreach (var exceptionReportFile in exceptionReport.ExceptionReportFiles)
                {
                    <li class="media">
                        <a class="pull-left" href="@Url.Action("File", "ExceptionReport", new { exceptionReportFile.StorageId })">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            @*<img class="media-object" src="..." alt="@exceptionReportFile.FileName">*@
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@exceptionReportFile.DisplayName</h4>
                        </div>
                    </li>                
                }
            </ul>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm", role = "button" })
</p>