@using Humanizer
@model NAppTracking.Server.Entities.ExceptionReport

@{
    ViewBag.Title = "Details";
    var exceptionReport = Model;
}

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index", new { applicationId = Model.Application.Id })">Exception reports</a></li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>
    @Html.DisplayFor(model => model.Message)<br />
    <small>@Html.DisplayFor(model => model.Type)</small>
</h2>
<hr/>

<div>
    <pre class="error-detail">@Html.DisplayFor(model => model.Details)
    </pre>
    <p class="error-time">occurred <b title="@exceptionReport.CreatedUtc.ToLongDateString() at @exceptionReport.CreatedUtc.ToLongTimeString()">@exceptionReport.CreatedUtc.Humanize()</b> on @exceptionReport.Machine (Process: @exceptionReport.ProcessName) @Html.ActionLink("Delete", "Delete", new { exceptionReport.Id }, new { @class = "btn btn-danger btn-xs", role = "button" })</p>

    <div class="row">
        <div class="col-md-6">
            @foreach (var exceptionReportCustomDataSet in exceptionReport.CustomDataSets)
            {
                <div class="custom-data">
                    <h3 class="key-value-title">@exceptionReportCustomDataSet.Name</h3>
                    <div class="side-scroll">
                        <table class="key-value-table">
                            @foreach (var customData in exceptionReportCustomDataSet.CustomData)
                            {
                                <tr>
                                    <td class="key">@customData.Key</td>
                                    <td class="value">@customData.Value</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h3 class="key-value-title">Files</h3>
            <ul class="list-group">
                @foreach (var exceptionReportFile in exceptionReport.ExceptionReportFiles)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("File", "ExceptionReport", new { exceptionReportFile.Id })">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            @exceptionReportFile.FileName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { applicationId = exceptionReport.Application.Id }, new { @class = "btn btn-default btn-sm", role = "button" })
</p>