@using Humanizer
@using PagedList
@using PagedList.Mvc
@model IPagedList<NAppTracking.Server.Entities.ExceptionReport>

@{
    ViewBag.Title = "Exception reports";

    var paging = Html.PagedListPager(Model, page => Url.Action("Index", new { id = page, q = ViewBag.SearchQuery }), PagedListHelper.DefaultOptions);
}

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>
    <span>@ViewBag.Title&nbsp;&nbsp;</span>
    @using (Html.BeginForm("Index", "ExceptionReport", FormMethod.Get, new { @class = "form-horizontal", role = "form", style = "display: inline" }))
    {
        <input type="text" name="q" class="form-control" style="display: inline" placeholder="search exception reports" value="@ViewBag.SearchQuery" />
        <span>&nbsp;</span>
        <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></button>
    }
</h2>
<hr />

@paging

<table class="table table-hover table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
        </th>
        <th style="width: 65%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Machine)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span title="@(string.Format("{0:u}", item.CreatedUtc))">@item.CreatedUtc.Humanize()</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink(item.Message, "Details", new { item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { item.Id }, new { @class = "btn btn-danger btn-xs", role = "button" })
            </td>
        </tr>
    }

</table>

@paging