@model IEnumerable<NAppTracking.Server.Entities.TrackingApplication>

@{
    ViewBag.Title = "Applications";
}

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm", role = "button" })</h2>
<hr />

<table class="table table-hover table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width: 40%">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Exception reports", "Index", "ExceptionReport", new { applicationId = item.Id }, new { @class = "btn btn-default btn-sm", role = "button" })
                @Html.ActionLink("Edit", "Edit", new { item.Id }, new { @class = "btn btn-default btn-sm", role = "button" })
            </td>
        </tr>
    }

</table>