@using Microsoft.AspNet.Identity
@model NAppTracking.Server.Entities.TrackingApplication

@{
    ViewBag.Title = "Manage owners of " + Model.Name;
}

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index")">Applications</a></li>
    <li><a href="@Url.Action("Edit", new { Model.Id })">@Model.Name</a></li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>
<hr />

@Html.ValidationSummary(true)

<h2>Current Owners</h2>
<ul id="owner-list">
    @foreach (var owner in @Model.Owners)
    {
        <li>
            <span style="float: left">@owner.UserName</span>
            @if (owner.Id == this.User.Identity.GetUserId())
            {
                <em>&nbsp;(that&#8217;s you!)</em>
            }
            else
            {
                using (Html.BeginForm("RemoveOwner", "Application"))
                {
                    @Html.AntiForgeryToken()
                    
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="hidden" name="ownerId" value="@owner.Id"/>
                    <input type="submit" value="Remove" style="margin-left: 2em" class="btn btn-primary btn-xs" />
                }
            }
        </li>
    }
</ul>

<h2>Add Owner</h2>
<p>
    Enter an owner's username to add them as a owner.
</p>
<p class="message">
    NOTE: All owners have full control over their applications, including the ability to remove other users as owners.
</p>

@using (Html.BeginForm("ManageOwners", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2" for="Username">Username</label>
        <div class="col-md-10">
            <input name="Username" class="form-control" id="Username" aria-invalid="false" type="text" value="@this.ViewBag.Username">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add owner" class="btn btn-primary btn-sm" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}